@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter&family=Pacifico&display=swap');
/* global style */
.full-height {
    min-height: 100vh;
    height: 100vh;
    max-width: 100vh;
    overflow: hidden;
}

* {
    font-family: 'Inter', sans-serif;
}

.font-1 {
    font-family: 'Pacifico', cursive;
}

.font-2 {
    font-family: 'DM Sans', sans-serif;
}

.green1 {
    color: #71EFA3 !important;
}

.green2 {
    color: #50CB93 !important;
}

.green3 {
    color: #1E6F5C !important;
}

.green4 {
    color: #289672 !important;
}

.green5 {
    color: #29BB89 !important;
}


.bg-green1 {
    background-color: #71EFA3 !important;
}

.bg-green2 {
    background-color: #50CB93 !important;
}

.bg-green3 {
    background-color: #1E6F5C !important;
}

.bg-green4 {
    background-color: #289672 !important;
}

.bg-green5 {
    background-color: #29BB89 !important;
}

.text-dark {
    color: #222222 !important
}

.boot-dark {
    background-color: #212529;
}

/* index.html start*/
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
/* ============ desktop view .end// ============ */
/* index.html end */
